@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/MullerRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/MullerBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/MullerExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/MullerBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
